<footer class="footer-1 bg-midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <p class="lead"><b>Want to contribute? </b><br>Visit our <a href="https://github.com/oncoblocks/magpie" target="_blank">GitHub</a> page for details.</p>
                <!--
                <div class="social-btns">
                    <a href="#" class="social-btn-facebook" data-text="Startup Design Framework - http://designmodo.com/startup/ Suit Up your Startup!" data-url="http://designmodo.com/startup/">
                        <div class="fui-facebook"></div>
                        <div class="fui-facebook"></div>
                    </a>
                    <a href="#" class="social-btn-twitter" data-text="Startup Design Framework - http://designmodo.com/startup/ Suit Up your Startup!" data-url="http://designmodo.com/startup/">
                        <div class="fui-twitter"></div>
                        <div class="fui-twitter"></div>
                    </a>
                </div>
                -->
            </div>
            <nav>
                <div class="col-sm-2 col-sm-offset-1">
                    <h6>About Magpie</h6>
                    <ul>
                        <li><a href="{{ site.baseurl }}/#about">About</a></li>
                        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                        <li><a href="{{ site.baseurl }}/#team">Team</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Source and Docs</h6>
                    <ul>
                        <li><a href="https://github.com/oncoblocks/magpie">Source Code</a></li>
                        <li><a href="https://github.com/oncoblocks/magpie/wiki">Documentation</a></li>
                    </ul>
                </div>
            </nav>
            <div class="col-sm-2 buy-btn">
                <!--
                <a class="btn btn-success btn-block" href="#">Get started</a>
                or <a href="#">Learn More</a>
            -->
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-center">
                    <span class="text-small text-muted">
                        Copyright Oncoblocks 2015. Photo "Magpie perched" by <a href="https://www.flickr.com/photos/23629083@N03/" target="_blank">final gather</a> is licensed under <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" target="_blank">CC</a>.  <a href="http://designmodo.github.io/startup-demo/" target="_blank">Startup Framework Theme</a> by <a href="http://designmodo.com/" target="_blank">Designmodo</a>.
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="{{ site.baseurl }}/static/common-files/js/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/static/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="{{ site.baseurl }}/static/flat-ui/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/static/common-files/js/modernizr.custom.js"></script>
<script src="{{ site.baseurl }}/static/common-files/js/startup-kit.js"></script>
