<header class="header-10">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="{{ site.baseurl }}/">Magpie</a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="{{ site.baseurl }}/#about">About</a></li>
                        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                        <li><a href="http://oncoblocks.org" target="_blank">Oncoblocks</a></li>
                        <li><a href="https://github.com/oncoblocks/magpie" target="_blank">GitHub</a></li>
                    </ul>
                    <!--
                    <form class="navbar-form pull-left">
                        <a class="btn btn-success" href="http://github.com" target="_blank"><span class=""></span> Get it now</a>
                    </form>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="header-background"></div>
</header>
