<head>

    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="{{ site.baseurl }}/static/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/flat-ui/css/flat-ui.css">
    <!-- Using only with Flat-UI (free)-->
    <link rel="stylesheet" href="{{ site.baseurl }}/static/common-files/css/icon-font.css">
    <!-- end -->
    <link rel="stylesheet" href="{{ site.baseurl }}/static/common-files/css/animations.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/style.css">

</head>
